<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yzh.mapper.ProductAssessMapper">

    <update id="updateAssessContent">
        update product_purchase.product_assess
            set assess_content = #{assessContent}
        where product_id = #{productId}
    </update>

    <delete id="deleteUserAssess">
        delete
        from product_assess
        where assess_id = #{assessId};
    </delete>

</mapper>
